.header {
    background-color: #949494;
    text-align: center;
    color: #f8f8f8;
    max-width: 1000px;
    padding: 30px 0;
    border-radius: 25px;
    margin: 20px auto;
}

.header__title {
    font-weight: normal;
    letter-spacing: 0.5em;
    font-size: 40px;
}