.navigation {
    background-color: #949494;
    color: #f8f8f8;
    font-size: 15px;
    max-width: 1000px;
    border-radius: 25px;
    margin: 20px auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.navigation__element {
    border-left: 1px solid #f38201;
    margin: 40px 0;
    letter-spacing: 0.2em;
    padding-left: 10px;
}

.navigation__link {
    color: #f8f8f8;
    text-decoration: none;
}

.navigation__link:hover {
    color: #f38201;
}